* {
    padding: 0;
    margin: 0;
    font-family:Roboto-Medium;
    box-sizing: border-box; 
  }
  
.App {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  
  }

.shop-place-container {
  box-shadow: 0 0 5px #ccc;
  padding: 15px 10px;
}

.products-grid {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(208, 205, 205);
}

.products-grid img h4 p button {
    width: 100%;
}

.banner-container {
  position:relative;
}

.banner-pic {
  width: 100%;
}


.text1 {
  position:absolute;
  background-color:white;
  top: 50px;
  font-size: x-large;
}

.text2 {
  position:absolute;
  background-color:white;
  top: 95px;
  font-size: x-large;

}
.text3 {
  position:absolute;
  top: 137px;
  background-color:white;
  font-size: x-large;

}
span {
  color: white;
}
